step-function-definition.yml
StartAt: Registration
States:
  Registration:
    Type: Task
    Resource: arn:aws:lambda:eu-central-1:926702850896:function:Registration
    Next: SendWelcomeEmail
  SendWelcomeEmail:
    Type: Task
    Resource: arn:aws:lambda:eu-central-1:926702850896:function:SendWelcomeEmail
    Next: Waitfor3Days
  Waitfor3Days:
    Type: Task
    Resource: arn:aws:lambda:eu-central-1:926702850896:function:Waitfor3Days
    Next: CheckActivation
  CheckActivation:
    Type: Choice
    Choices:
      - Variable: $.result
        StringEquals: Activated
        Next: Active
      - Variable: $.result
        StringEquals: Not Activated
        Next: Inactive
  Active:
    Type: Succeed
  Inactive:
    Type: Succeed
